---
name: Update README with data

on:
  push:
    branches:
      - main
  schedule:
    - cron:  '06 00 * * *'

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - uses: actions/checkout@v6
        with:
          ref: main
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.10.7
      - uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: install python requirements
        run: pip install -r requirements.txt
      - id: 'auth'
        name: 'Authenticate to GCP'
        uses: 'google-github-actions/auth@v3'
        with:
            create_credentials_file: 'true'
            workload_identity_provider: 'projects/791592842889/locations/global/workloadIdentityPools/github/providers/my-repo'
            service_account: 'analytics@avengerpenguin.iam.gserviceaccount.com'
      - name: get data
        run: |
          python analytics.py
        env:
          GOOGLE_APPLICATION_CREDENTIALS: "${{ steps.auth.outputs.credentials_file_path }}"
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Update with latest data
